@import "../../../variables";
:host{
  /* Modal overwrite
  ===========================*/
  ::ng-deep {
    ::-webkit-scrollbar {
      width: .5rem;
      transition: all .3s ease-in-out;        
    }
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #ccc;
      transition: all .3s ease-in-out;
      border-radius: 15px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background-color: $orange-color;
      cursor: pointer;
    }

    // start style modal
    .modal.show .modal-dialog{
      transform: unset;
      }
      
      .modal-dialog{
        width:700px;
        height: 370px;
        min-height: unset;
        max-width: unset;
        position: absolute;
        transform: translate(-50%, -50%) !important;
        top: 50%;
        left: 50%;
      
      }
      
      .modal-content{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
      }
      
      .modal-dialog-centered{
        min-height: unset;
      }
      
      .modal.fade .modal-dialog{
        transform: unset;
      }

    .modal-dialog {
      // width: auto;
      margin: 1.75rem auto;
      max-width: 700px;
      .modal-content {
        height: auto;
        border-radius: 1.5rem;
        .modal-header{
          border-bottom: none;
          .modal-title{
            text-transform: capitalize;
            font-size: 22px;
            font-weight: bold;
            padding: 15px !important;
          }
          .close{
            padding: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #fff;
            color: $cart-color;
            border: 2px solid $orange-color;
            font-weight: bold;
            position: absolute;
            border-radius: 50%;
            top: -6px;
            right: 0px;
            opacity: 1;
            z-index: 1;
            cursor: pointer;
            text-shadow: none;
            font-family: serif;
            font-weight: bold;
            transition: all .3s ease-in-out;
            &:hover,
            &:focus{
              background-color: $orange-color;
              color: #fff;
            }
            [dir=rtl] &
            {
              right: auto;
              left: 20px;
            }
          }
        }
      }
    }
    @media all and (max-width: 767.98px) {
      .modal-dialog{
        margin: 1rem;
        //max-width: auto;
      }
    }
    // END style modal


    .form-control:focus {
      border-color: inherit;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
    }
  }

  //style quick-view
  .custom-btn
    {
      color: $orange-color;
      font-size: 16px;
      border: 1px solid;
      border-radius: 10px;
      padding: 5px 20px;
      background: #fff;
      transition: all .2s ease-in-out;
      outline: none;
      text-transform: capitalize;
      [dir="rtl"] & { font-family: Cairo; }
      &:enabled:hover
      {
        color: #fff;
        border: 1px solid $orange-color;
        background-color: $orange-color;
        cursor: pointer;
      }
      &:disabled {
        color: #fff;
        background-color: #666;
      }
    }
  .icon-btn
  {
    color: $orange-color;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    .icon--hover
    {
      border: 1px solid;
      display: inline-block;
      border-radius: 10px;
      padding: 9px;
      transition: all .4s ease-in-out;
      &:hover, &.active
      {
        background-color: $orange-color;
        color: #fff;
        border: 1px solid $orange-color;
        outline: none;
      }
    }
    &.active
    {
      background-color: $orange-color;
      border: 1px solid $orange-color;
    }
  }
  .collection__spinner {
    position: relative;
    background: #fff;
    min-height: 420px;
    width: 100%;
    .lds-ellipsis {
      position: absolute;
      width: 64px;
      height: 64px;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .lds-ellipsis div {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: $orange-color;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 6px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 6px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 26px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 45px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(19px, 0);
      }
    }
  }
  .quickview_product {
    .quickview_product-img{
      height: 100%;
      min-height: 19rem;
    }
    .quickview_product-content{
      max-height: 350px;
      overflow-Y: auto;
      margin-top: 20px;
      margin-right: 3px;
      padding-right: 30px;
      border-bottom: 1px solid #ddd;
      .product-title{
        font-size: 22px;
        color: #000;
        display: block;
        padding-bottom: 12px;
        border-bottom: 1px solid #ddd;
      }
      .product-price{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        margin-bottom: 2rem;
        .current-price{
          color: #1ca60c;
          font-weight: bold;
          font-size: 16px;
        }
        .original-price{
          font-size: 18px;
          color: #6c757d;
          text-decoration: line-through;
          font-weight: bold;
        }
      }
      .product-short-desc{
        font-size: 16px;
        color: #505050;
      }
      .product-actions{
        .custom-btn,
        .icon-btn{
          margin: 0 .5rem;
          display: inline-block;
          vertical-align: middle;
        }
      }
      a
      {
        text-decoration: none;
      }
      .rating--icons
      {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding: 12px 0;
      }
      .description--code
      {
        border-bottom: 1px solid #ddd;
        padding-top: 12px;
      }
    }
  }
  }
