<div class="page-container">
  <div class="container-fluid">
    <div class="row no-gutters">
      <!--Store logo-->
      <div class="col-md-6 col-sm-5">
        <div class="image-container" *ngIf="store$ | async as store">
          <img *ngIf="logo$ as logo" [src]="logo |async" alt="{{ store.name }}">
        </div>
      </div>
      <!--Form reset password-->
      <div class="col-md-6 col-sm-7">
        <div class="content">
          <div class="top-section d-flex justify-content-between align-items-center">
            <a routerLink="/{{language['LANGUAGE_CODE']}}" class="backToWebsite align-items-center">
              <span>
                <i [ngClass]="language['DIR'] === 'rtl'? 'fa fa-angle-right ml-2' : 'fa fa-angle-left mr-2'"></i>
              </span>
              {{language['backToWebsite']}}
            </a>
          </div>
          <!-- Form -->
          <section class="form-container" *ngIf="!error">
            <h3 class="h3--custom">{{language['resetPassword']}}</h3>
            <form [formGroup]="resetPasswordForm">
              <div class="form-group">
                <label for="password">{{language['new_password']}}</label>
                <input type="password" id="password" class="form-control" formControlName="password">
              </div>
              <div class="form-group">
                <label for="confirm_password">{{language['confirmPassword']}}</label>
                <input type="password" id="confirm_password" class="form-control" formControlName="confirm_password">
              </div>
              <div class="alert alert-danger" *ngIf="resetPasswordForm.controls['password'].dirty  && resetPasswordForm.controls['password'].errors?.minlength">
                {{language['please_make_sure_your_password_is_not_less_than_6_characters']}}
              </div>
              <div class="alert alert-danger" *ngIf="resetPasswordForm.controls['confirm_password'].dirty  && resetPasswordForm.errors">
                {{resetPasswordForm.errors['error']}}
              </div>
              <div class="form-group text-center">
                <button type="submit" (click)="resetPassword()" class="main-btn" [disabled]="resetPasswordForm.invalid">
                  {{language['reset']}}
                </button>
              </div>
            </form>
          </section>
          <!-- Form errors -->
          <section class="form-container" *ngIf="error">
            <h3 class="h3--custom">{{language['resetCodeInvalid']}}</h3>
            <p *ngIf="error" class="validation-text">
              {{language['somthingWentWrong']}}
              <br>
              {{error}}
            </p>
            <form [formGroup]="sendMailForm">
              <div class="form-group">
                <label for="email">{{language['email']}}</label>
                <input type="email" name="email" id="email" class="form-control input-lg" tabindex="3" formControlName="email">
                <div class="validation-text">
                  <span *ngIf="sendMailForm.controls['email'].touched  && sendMailForm.controls['email'].errors?.required">
                    {{language['enter_your_email']}}
                  </span>
                  <span *ngIf="sendMailForm.controls['email'].touched && sendMailForm.controls['email'].errors?.pattern">
                    {{language['enterValidEmail']}}
                  </span>
                </div>
              </div>
              <button (click)="sendMailFormSubmit()" class="main-btn" [disabled]="!sendMailForm.valid">
                {{language['send']}}
              </button>
              <p *ngIf="success !== null" class="alert" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
                {{message}}
              </p>
              <ng-container *ngIf="errors.length > 0">
                <div class="alert alert-danger" *ngFor="let error of errors">{{error}}</div>
              </ng-container>
            </form>
            <hr>
            <div class="horizontal-btns d-flex align-items-center justify-content-between ">
              <a routerLink="/{{language['LANGUAGE_CODE']}}/accounts/login" class="main-btn">{{language['login']}}</a>
              <a routerLink="/{{language['LANGUAGE_CODE']}}/accounts/sign-up" class="main-btn">{{language['register']}}</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
